body {
  background-color: $white;
  color: $dark-gray;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

// Brand

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 1rem;
}

h1 {
  font-size: 30px;
  margin-bottom: 2rem;
}
h2 {
  font-size: 25px;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 21px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 18px;
  margin-bottom: 1rem;
}
h5 {
  font-size: 16px;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.footnote {
  font-size: 12px;
  line-height: 18px;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

// Forms
.push{
  margin-top: 1%;
  /*margin: 0 auto;*/
  margin-right: auto;
}
.form_horizontal_set{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usi-form-group {
  position: relative;
  margin-bottom: 1rem;

  label, input[type="text"] {
    display: block;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input[type="text"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    font-size: 14px;
    position: relative;

    &[disabled] {
      background-color: $light-gray;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px 0 $blue-muted-2;
    }
  }
  input[type="user"] { 
    font-family: FontAwesome;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
  }
  input[type="numeric"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    width: 50%;
    margin-bottom: 0.5rem;

  }

  input[type="percentage"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    width: 40%;
    margin-bottom: 0.5rem;
  }


  &.active {

    input {
       border: 2px solid #2A81EA;
       
    }
   
    
  }
  &.required{

    input{
      border: 1px solid red;
    }

  }

  &.input-warning {

    input {
      border-color: $dark-orange;

    }

    >div:before {
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;
    }


  }
  &.user_head{
    input{
      /*background-color: green;*/
      padding-left: 15%;
      box-sizing: border-box;
    }
    >input:before{

      /*color: red;
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;*/
    }
  }
  &.spacer_right{
    input{
      padding-right: 15%;
      box-sizing: border-box;
      
    }
    &input:after{
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-left: 4px;
      position:absolute;
      top: 30%;
      right: 5%;
      z-index: 100;
    };

  }


  #togs{
    display:flex;
    flex-direction: row;
  }
  .warning_text{

    input{
    }

    &:before {
       color: $dark-orange;
      content: '\f071';
    }

  }
  .notify_field{
    font-style: italic;
    display: inline-block;
  }

  &.input-error {

    input {
      /*border-color: $dark-red;*/
    }

    >div:before {
      font-family: FontAwesome;
      content: '\f06a';
      color: $dark-red;
      display: inline-block;
      margin-right: 14px;
    }
  }

  &.input-success {

    input {
      border-color: $dark-green;
    }

    >div:before{
      font-family: FontAwesome;
      content: '\f058';
      color: $dark-green;
      display: inline-block;
      margin-right: 4px;
    }

    }
  }

    &.bleeder{
      /*background-color: blue;*/
      border: 1px solid $mid-gray;
      padding: 20px;
     /* background-clip: red;*/

    input:checked + label {
      box-shadow: 0 0 0 5px $dark-blue inset;
    }

    input:checked + label + label {
      font-weight: bold;
      color: white;
    }

    input:checked + label + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #0562D2;
    }
  
   
  }

  &.input-warning:after, &.input-error:after, &.input-success:after {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: 60%;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 42px;
    font-size: 20px;
  }

  .split_groups{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
  }
  #first_check{
     width: 30%;
     height: auto;
  }
  #second_check{
     width: 70%;
  }
  #first_radio{
     width: 30%;
     height: auto;
  }
  #second_radio{
     width: 70%;
  }


  &.check {
    input {
      display: none;

      & + label {
        color: $white;
        border: 1px solid $mid-gray;
        border-radius: 3px;
        padding: 2px;
      }

      &:checked + label {
        background-color: $dark-gray;
      }
    }

    label {
      display: inline-block;
    }
  

  &.radio {
    input {
      display: none;

      & + label {
        background-color: $white;
        border: 1px solid $mid-gray;
        border-radius: 100%;
        padding: 9px;
      }

      &:checked + label {
        box-shadow: 0 0 0 5px $mid-gray2 inset;
      }
    }

    label {
      display: inline-block;
    }
  }

  &.highlight {
    border: 1px solid $mid-gray;
    padding: 20px;

    input:checked + label {
      box-shadow: 0 0 0 5px $dark-blue inset;
    }

    input:checked + label + label {
      font-weight: bold;
      color:white;
    }

    input:checked + label + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #0562D2;
      
      /*$blue-muted-1*/
    }
  }


}

.usi-horizontal-select {
  border: 1px solid $mid-gray;
  border-radius: 3px;
  display: table;
  @extend .clearfix;

  input {
    display: none;

    &:checked + label {
      background-color: $dark-blue;
      color: $white;
    }
  }

  label {
    line-height: 38px;
    background-color: $white;
    padding: 0 20px;
    border-right: 1px solid $mid-gray;
    color: $mid-gray;
    display: block;
    float: left;

    &:last-of-type {
      border-right: none;
    }
  }
}

// Buttons
button.usi-button {
  color: $white;
  background-color: $primary-blue;
  border: 1px solid $white;
  border-radius: 3px;
  margin: 0 20px 20px 0;
  line-height: 38px;
  padding: 0 16px;

  &.small {
    
    
  }

  &.large {
    font-size: 16px;
  }

  &[disabled="disabled"] {
    background-color: $blue-muted-2;
  }
   &.reduce_out{
      /*border-color: white;*/
      background-color: red;
      border: none;
    

        i {
         /*margin-right: .5%;*/
          
        }
        span{
          margin-left: 8px;
        }

      }


  &.secondary {
    background-color: $white;
    color: $primary-blue;
    border-color: currentColor;

    &[disabled="disabled"] {
      color: $blue-muted-3;
    }
    &.icon {

    i {
      background-color: $white;
      color: $primary-blue;
      border-right: solid 1px $primary-blue;


    }
    &.icon_left{
      border-left: solid 1px $primary-blue;
      border-right: none;
    }
    &.reversal{
      background-color: $primary-blue;
      color: white;
    }
   


    
  }
  }

  &.secondary_left {
    background-color: $white;
    color: $primary-blue;
    border-color: currentColor;

    &[disabled="disabled"] {
      color: $blue-muted-3;
    }
    &.icon {

    i {
      background-color: $white;
      color: $primary-blue;
      border-left: solid 1px $primary-blue;
      border-right: none;


    }
    &.reversal{
      background-color: $primary-blue;
      color: white;
    }


    
  }
  }

  &.icon {
    padding: 0;
    overflow: hidden;
    line-height: 0;

    i {
      background-color: $dark-blue;
    }

    span {
      display: inline-block;
    }

    i {
      width: 44px;
      line-height: 38px;
      float:left;
    }

    span {
     /* padding: 12px;*/
    }

    &.small i {
      width: 33px;
      line-height: 28px;
    }
    &.small span {
      padding: 0 12px;
      line-height: 28px;

      /*padding: 9px;*/
    }
    &.reg span{
        line-height: 38px;
        padding: 0 16px;
    }
    &.large span{
       padding: 0 20px;
      line-height: 46px;
    }
    &.large i{
      line-height: 46px;
    }
    &.right i{
      /*background-color: red;*/
      float: right;
    }

  }
}

// Tables

table.usi-table {
  border: 1px solid $mid-gray;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  th {
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid $mid-gray;
    font-weight: 600;
  }

  td {
    border: 1px solid $mid-gray;
    padding: 1rem;
  }

  .borderless {
    border-color: transparent;
  }

  tr:hover td {
    background-color: $light-gray;
  }
}

// Navigation

header.usi-header {
  line-height: 65px;
  background-color: $darker-gray;
  color: $white;
  display: flex;

  & > div {
    padding: 0 20px;
  }
}

// Notifications

.usi-notification {
  color: $white;
  line-height: 50px;
  padding: 0 20px;
  box-shadow: 0 2px 3px 0 $mid-gray;
  margin-bottom: 2rem;

  &.error {
    background-color: $dark-red;
  }

  &.warning {
    background-color: $dark-orange;
  }

  &.info {
    background-color: $blue-muted-3;
  }

  & > span {
    margin-left: 30px;
  }

  .close {
    float: right;
  }

  .fa {
    font-size: 24px;
    line-height: 50px;
  }
}





  .usi-icon-left input {
    /*padding-left: 16px;*/
  }
  
  .usi-icon-left:before{
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;
      position:absolute;
      top: 30%;
      left: 5%;
      z-index: 100;
  }
  .usi-icon-right{
    input{

    }
 
  }

  .usi-icon-right:after{
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-left: 4px;
      position:absolute;
      top: 30%;
      right: 5%;
      z-index: 100;

    }

  