body {
  background-color: $white;
  color: $dark-gray;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

// Brand

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 1rem;
}

h1 {
  font-size: 30px;
  margin-bottom: 2rem;
}
h2 {
  font-size: 25px;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 21px;
<<<<<<< HEAD
<<<<<<< HEAD
  margin-top: 3rem;
  margin-bottom: 2rem;
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
  margin-bottom: 1rem;
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
>>>>>>> changed
}
h4 {
  font-size: 18px;
  margin-bottom: 1rem;
}
h5 {
  font-size: 16px;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.footnote {
  font-size: 12px;
  line-height: 18px;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

// Forms
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======
.push{
  margin-top: 1%;
  margin-right: auto;
}
#usi-pargraph{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4%;

  input{

  }
  p{
    margin: 0 auto;
    display: inline-block;
  }
}
#usi-para-body{
  margin-top: 4%;
  line-height: 22px;
}
#usi-para-body-min{
  margin-top: 4%;
  line-height: 18px;
  font-size: 12px;
}
>>>>>>> changed
.usi-form-group {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;

  label, input[type="text"] {
    display: block;
  }
  .footnote-left{
    margin-left: 0 0;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input[type="text"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 1px solid $mid-gray;
    margin-bottom: 0.5rem;
    font-size: 14px;
    position: relative;

    &[disabled] {
      background-color: $light-gray;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px 0 $blue-muted-2;
    }
  }
<<<<<<< HEAD
<<<<<<< HEAD
  input[type="user"] { 
    font-family: FontAwesome;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
  }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======

>>>>>>> changed
  

  &.active {

    input {
       border: 2px solid #2A81EA;
       
    }
   
    
  }
  
  &.label-block{

    margin-top: 0;
    input{
      margin: 0;
      margin-top: 5px;
      margin-bottom: 4%;
    }
    >div p{
      margin: 0;
      font-style: normal;
    }
  }
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a

  &.input-warning {

    input {
      border-color: $dark-orange;
    }

<<<<<<< HEAD
<<<<<<< HEAD
    >div:before {
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;
    }


  }
  &.user_head{
    input{
      
      padding-left: 15%;
      box-sizing: border-box;
    }
    >input:before{

     
    }
  }
  &.spacer_right{
    input{
      padding-right: 15%;
      box-sizing: border-box;
      
    }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
    /*&input:after{
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
      display: inline-block;
      margin-left: 4px;
      position:absolute;
      top: 30%;
      right: 5%;
      z-index: 100;
    };*/
=======
    
>>>>>>> changed

  }


  #togs{
    display:flex;
    flex-direction: row;
  }
  .warning_text{

    input{
    }

    &:before {
       color: $dark-orange;
      content: '\f071';
=======
    &:after {
      color: $dark-orange;
      content: '\f071';
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
    &:after {
      color: $dark-orange;
      content: '\f071';
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
    }
  }

  &.input-error {

    input {
      border-color: $dark-red;
    }

    &:after {
      color: $dark-red;
      content: '\f06a';
    }
  }

  &.input-success {

    input {
      border-color: $dark-green;
    }

    &:after {
      color: $dark-green;
<<<<<<< HEAD
<<<<<<< HEAD
      display: inline-block;
      margin-right: 4px;
    }

    }
  }
  #input-with-header{
    display: flex;
    flex-direction: column;
  }

    &.bleeder{
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      /*background-color: blue*/
=======
>>>>>>> changed
      border: 1px solid $mid-gray;
     position: relative;
     display: flex;

    input:checked + label {
      box-shadow: 0 0 0 5px $dark-blue inset;
    }

    input:checked + label + label {
      font-weight: bold;
      color: white;
    }

    input:checked + label + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #0562D2;
    }
  
   
  }
  &.bleeder_2{
     position: relative;
     display: flex;

    input:checked + label {
      box-shadow: 0 0 0 5px $dark-blue inset;
    }

    input:checked + label + label {
      font-weight: bold;
      color: white;
    }

    input:checked + label + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #0562D2;
=======
      content: '\f058';
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
      content: '\f058';
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
    }
  }

  &.input-warning:after, &.input-error:after, &.input-success:after {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: 60%;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 42px;
    font-size: 20px;
  }

<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======
  .split_groups{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
  }
  .check_split_child{
 /*   display: flex;
    flex-direction: row;*/
    margin-bottom: 24px;
    
  }
  #first_check{
     width: 30%;
     height: auto;
  }
  #second_check{
     width: 70%;
  }
  #first_radio{
     width: 30%;
     height: auto;
  }
  #second_radio{
     width: 70%;
  }


>>>>>>> changed
  &.check {
    margin: 0 auto;
    width: 100%;
    input {
      display: none;


      & + label {
        color: $white;
        border: 1px solid $mid-gray;
        border-radius: 3px;
        padding: 2px;
      }

      &:checked + label {
        background-color: $dark-gray;
        
      }
      
      
    }

    label {
      display: inline-block;
      padding-left: 44px;

    }
  }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
<<<<<<< HEAD
<<<<<<< HEAD

  .cal_clicked{
    input{
     display: inline-block;
    }
  /*
   label{
        color: $white;
        border: 1px solid green;
        border-radius: 3px;
        padding: 2px;
        width: 20%;
    }*/
     & + label{
        border: 1px solid green;
        border-radius: 3px;
        padding: 2px;
        width: 20%;
        display: inline-block;
        content: '/f10c';

    }
      &:checked + label{
      border: 3px solid red;
    
    }
  }
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
  .usi-check-lighter{
   padding: 2px;
   position: absolute;
   left: 12px;
   top: 24px;
  
>>>>>>> changed


  }
  
  .usi-check-lighter-radio{
   padding: 2px;
   position: absolute;
   left: 12px;
   top: 24px;

  


  }

  .usi-check{
   width: 100%;
   /*padding:14px;*/
   line-height: 68px;
   margin: 0;
   /*padding-left: 12px;*/
   
   
  }

  .usi-cal-clicked{
    input{
     display: inline-block;
    }
  /*
   label{
        color: $white;
        border: 1px solid green;
        border-radius: 3px;
        padding: 2px;
        width: 20%;
    }*/
     & + label{
        border: 1px solid green;
        border-radius: 3px;
        padding: 2px;
        width: 20%;
        display: inline-block;
        content: '/f10c';
        max-height: 44px;

    }
      &:checked + label{
      border: 3px solid red;
    
    }
  }

  &.radio {
    input {
      display: none;

      & + label {
        background-color: $white;
        border: 1px solid $mid-gray;
        border-radius: 100%;
        padding: 9px;
        position: absolute;
      }

      &:checked + label {
        box-shadow: 0 0 0 5px $mid-gray2 inset;
      }
    }

    label {
      display: inline-block;
      padding-left: 44px;
      left: 16px;
      top: 28px;
    }
  }

  &.highlight {
    border: 1px solid $mid-gray;
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
    padding: 20px;
    display: flex;
=======
    display: flex;
    
>>>>>>> changed

    input:checked + label {
      box-shadow: 0 0 0 5px $dark-blue inset;
    }

    input:checked + label + label {
      font-weight: bold;
    }

    input:checked + label + label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $blue-muted-1;
    }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> changed
  


=======
  }
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
  }
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
}

.usi-horizontal-select {
  border: 1px solid $mid-gray;
  border-radius: 3px;
  display: table;
  @extend .clearfix;

  input {
    display: none;

    &:checked + label {
      background-color: $dark-blue;
      color: $white;
    }
  }

  label {
    line-height: 38px;
    background-color: $white;
    padding: 0 20px;
    border-right: 1px solid $mid-gray;
    color: $mid-gray;
    display: block;
    float: left;

    &:last-of-type {
      border-right: none;
    }
  }
}

// Buttons
button.usi-button {
  color: $white;
  background-color: $primary-blue;
  border: 1px solid $white;
  border-radius: 3px;
  padding: 12px;
  margin: 0 20px 20px 0;

  &.small {
    padding: 9px;
  }

  &.large {
    padding: 19px;
    font-size: 16px;
  }

  &[disabled="disabled"] {
    background-color: $blue-muted-2;
  }

  &.secondary {
    background-color: $white;
    color: $primary-blue;
    border-color: currentColor;

    &[disabled="disabled"] {
      color: $blue-muted-3;
    }
<<<<<<< HEAD
<<<<<<< HEAD
    &.icon {

    i {
      background-color: $white;
      color: $primary-blue;
      border-right: solid 1px $primary-blue;


    }
    &.icon_left{
      border-left: solid 1px $primary-blue;
      border-right: none;
    }
    &.reversal{
      background-color: $primary-blue;
      color: white;
    }
  
   
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a

    &.icon {
      i {
        background-color: $white;
        color: $primary-blue;
        border-right: 1px solid $primary-blue;
      }

      &.right i {
        border-left: 1px solid $primary-blue;
        border-right: none;
      }

    }
  }

  &.icon {
    padding: 0;
    overflow: hidden;

    i {
      background-color: $dark-blue;
    }

    span {
      display: inline-block;
    }

    i {
      width: 44px;
      line-height: 38px;
    }

    span {
      padding: 12px;
    }

    &.small i {
      width: 33px;
      line-height: 33px;
    }
    &.small span {
      padding: 9px;
    }

    &.large i {
      line-height: 41px;
    }

    &.right {
      i {
        float: right;

      }
    }
  }
}

// Tables

table.usi-table {
  border: 1px solid $mid-gray;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  th {
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid $mid-gray;
    font-weight: 600;
  }

  td {
    border: 1px solid $mid-gray;
    padding: 1rem;

    input{

    }

    >div{
      display: flex;
      flex-direction:row;
      padding: 10px;

      p{
       margin: 0 auto;

      }

    }
  }

  .borderless {
    border-color: transparent;
  }

  tr:hover td {
    background-color: $light-gray;
  }

}

// Navigation

header.usi-header {
  line-height: 65px;
  background-color: $darker-gray;
  color: $white;
  display: flex;
  flex-direction: row;
  position: relative;
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======
  margin-bottom: 4%;
>>>>>>> changed

  & > div {
    padding: 0 20px;
    width: 20%;
  }
}

// Notifications

.usi-notification {
  color: $white;
  line-height: 50px;
  padding: 0 20px;
  box-shadow: 0 2px 3px 0 $mid-gray;
  margin-bottom: 2rem;
  position: relative;
  

  &.error {
    background-color: $dark-red;
  }

  &.warning {
    background-color: $dark-orange;
   
  }

  &.info {
    background-color: $blue-muted-3;
  }

  & > span {
    margin-left: 30px;
  }
  .open {
    width: 30px;
    height: 2px;
    float: left;
  }

  .close {
    float: right;
    width: 20px;
  }
  .fa-close {
  }

  .fa {
    font-size: 24px;
    line-height: 50px;
    position: absolute;

  }
}


<<<<<<< HEAD
<<<<<<< HEAD



  .usi-icon-left input {
    /*padding-left: 16px;*/
  }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
  .usi-user:before{
    content: '\f2be';
  }
  .money:before{
     content: '\f155';
  }
=======
  .usi-user:before {
    content: '\f2be';
  }

  .money{
    input{

    }

  &:before {
     content: '\f155';
  }

    }
>>>>>>> changed
  
  .usi-icon-left:before{
      font-family: FontAwesome;
      /*content: '\f155';*/
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======
      display: inline-block;
      margin-right: 4px;
      position:absolute;
      top: 14px;
      left: 14px;
      z-index: 100;
  }
  .usi-icon-right input{
      /*background-color: blue;*/
      input{


      }
      &:after{
      font-family: FontAwesome;
      content: '\f0a3';
      display: inline-block;
      margin-right: 4px;
      position:absolute;
      top: 14px;
      /*right: 68px;*/
      z-index: 100;
  
      }

}

/*Ryan's nemesis, the input after for the percentage*/


  .usi-icon-right:after{
      font-family: FontAwesome;
      content: '\f295';
      display: inline-block;
      margin-right: 4px;
      position:absolute;
      top: 14px;
      right: 68px;
      z-index: 100;
  }
  input[type="numeric"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    width: 50%;
    margin-bottom: 0.5rem;
    content: 'f155'

  }

  input[type="percentage"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    /*background-color: red;*/
    padding-right: 31px;
    width: 50%;
    position: relative;

    input{

    }

    
    &:after{

      display:inline-block;
      font-family: FontAwesome;
      color: $dark-orange;
      content: '\f071';
>>>>>>> changed
      display: inline-block;
      margin-right: 4px;

    }


  }
  input[type="required"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    padding-right: 31px
    /*background-color: red;*/
    
    

    input {
    }

    
    &:after {

      display:inline-block;
      font-family: FontAwesome;
      /*content: '\f071';*/
      display: inline-block;
      margin-right: 4px;

    }


  }
  .usi-required {
        input{
            border: 2px solid red;
        }

        &:after {
          content:'\f069';
          color: red;
          font-family:FontAwesome;
          position: absolute;
          right: 18px;
      }
    }
  .input-success,.input-warning,.input-error {
    input {
      display: inline-block;
      width: 15%;

    }
    display: flex;
    flex-direction: column;
  }
   &.required:after{
      /*width: 15px;
      margin: 0 auto; */
      /*justify-content: center;*/
      font-family: FontAwesome;
      content: '\f069';
      color: red;
      display: inline-block;
      /*margin-right: 4px;*/
      position:absolute;
      z-index: 100;

    }
     input[type="calendar"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    /*background-color: red;*/
    padding-right: 31px;
    

    input{

    }

    
    &:after{
/*
      display:inline-block;
      font-family: FontAwesome;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;*/

    }


  }
    &.usi-calendar{

    input{
      box-sizing: border-box;
      font-size: 14px;
    }
    &.push{
      margin: 0;
    }
   

  }
   &.usi-calendar:after{
      width: 15px;
      margin: 0 auto; 
      justify-content: center;
      font-family: FontAwesome;
      content: '\f073';
      display: inline-block;
      /*margin-right: 4px;*/
      position:relative;
      top: 30%;
      right: 15%;
      z-index: 100;
      border-left: 1px solid gray;
      line-height: 40px;
      /*vertical-align: middle;*/
      padding: 0 9px;
      overflow: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      max-height: 44px;

    }
    
    .page_title_case{
      margin: 0;
      position: relative;
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: row;
    }
    .page_title{
      border-bottom: none;
    }
    &.usi-calendar{

    input{
      box-sizing: border-box;
      font-size: 14px;
    }
    &.push{
      margin: 0;
    }
   

  }
    #cal-clicked:after{

      background-color: #555555;
      color: white;
    
    .page_title{
      width: 85%;
      border: none;
      input{

      }
      h2{
        padding-right: 15%;


        

      }
    }
  }

  #download_text{
    padding-left: 30px;
    position: relative;
    margin: 0;
  }
  #download_text:before{
      display: inline-text;
      position: absolute;
      font-family: FontAwesome;
      content: '\f019';
      left: 5%;
  }
  .usi-palette-sec{
    margin-bottom: 2rem;
  }
  .usi-icon-right-nav{
    position: relative;
    input{

    }

  &:after{
      font-family: FontAwesome;
      content: '\f078';
      display: inline-block;
      position:absolute;
      right: 30%;
      z-index: 100;
      color: white;
  }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
  .usi-icon-right input{
      /*background-color: blue;*/
      input{

      }

}

/*Ryan's nemesis, the input after for the percentage*/

  .usi-icon-right:after{
      font-family: FontAwesome;
      content: '\f295';
      display: inline-block;
      margin-right: 4px;
      position:relative;
      top: 30%;
      right: 15%;
      z-index: 100;
  }
  input[type="numeric"], textarea {
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    width: 50%;
    margin-bottom: 0.5rem;
    content: 'f155'

  }

  input[type="percentage"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    /*background-color: red;*/
    padding-right: 31px;
    width: 50%;
=======
}
  .usi-icon-left-nav{
    position: relative;
    
>>>>>>> changed

    input{

    }
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d

    
    &:after{

      display:inline-block;
=======

  &:before{
      font-family: FontAwesome;
      display: inline-block;
      position: absolute;
      left: 1%;
      margin-top: 1%;
      z-index: 100;
  }
  #usi-sales{
    position: relative;
    input{

    }
    &:before{
>>>>>>> changed
      font-family: FontAwesome;
      content: '\f095';
      display: inline-block;
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      margin-right: 4px;

    }


  }
  input[type="required"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    /*background-color: red;*/
    padding-right: 18px;
    

    input{

    }

    
    &:after{

      display:inline-block;
      font-family: FontAwesome;
      /*content: '\f071';*/
      display: inline-block;
      margin-right: 4px;

    }


  }
  &.required{

    input{
      border: 1px solid red;
      box-sizing: border-box;
      font-size: 14px;
    }
   

  }
   &.required:after{
      width: 15px;
      margin: 0 auto; 
      justify-content: center;
      font-family: FontAwesome;
      content: '\f069';
      color: red;
      display: inline-block;
      /*margin-right: 4px;*/
      position:relative;
      top: 30%;
      right: 15%;
      z-index: 100;
      /*border-left: 2px solid gray;*/
      line-height: 40px;
      /*vertical-align: middle;*/
      padding: 0 8px;
      margin-right: 13px;
      /*background-color: #C4C4C4;*/
      overflow: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

    }
     input[type="calendar"]{
    padding: 12px;
    border-radius: 3px;
    border: 2px solid $mid-gray;
    margin-bottom: 0.5rem;
    /*background-color: red;*/
    padding-right: 31px;
    

    input{
=======
      position: absolute;
      left: 1%;
      margin-top: 1%;
      z-index: 100;
    }
  }
>>>>>>> changed

}
#usi-phone{
  input{

  }
  &:before{
    font-family: FontAwesome;
    content: '\f095';
    /*padding-left: 5px;*/
  }
  
}
#usi-sales-two{
  width: 10%;

      input{

      }

      &:before{
      
        font-family: FontAwesome;
        content: '\f0ac';
        padding-right: 10px;
      
    }

<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
    
    &:after{
/*
      display:inline-block;
      font-family: FontAwesome;
      content: '\f071';
      display: inline-block;
      margin-right: 4px;*/

    }


  }
    &.usi-calendar{

    input{
      box-sizing: border-box;
      font-size: 14px;
    }
    &.push{
      margin: 0;
    }
   

  }
   &.usi-calendar:after{
      width: 15px;
      margin: 0 auto; 
      justify-content: center;
      font-family: FontAwesome;
      content: '\f073';
      display: inline-block;
      /*margin-right: 4px;*/
      position:relative;
      top: 30%;
      right: 15%;
      z-index: 100;
      border-left: 1px solid gray;
      line-height: 40px;
      /*vertical-align: middle;*/
      padding: 0 9px;
      overflow: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

    }
    
    .page_title_case{
      margin: 0;
      position: relative;
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: row;
    }
    &.usi-calendar{

    input{
      box-sizing: border-box;
      font-size: 14px;
    }
    &.push{
      margin: 0;
    }
   

  }
    #cal-clicked:after{

      background-color: #555555;
      color: white;
    
    .page_title{
      width: 85%;
      border: none;
      input{

      }
      h2{
        padding-right: 15%;


        

      }
    }
  }

  #download_text{
    padding-left: 30px;
    position: relative;
    margin: 0;
  }
  #download_text:before{
      display: inline-text;
      position: absolute;
      font-family: FontAwesome;
      content: '\f019';
      left: 5%;
  }
  .usi-palette-sec{
    margin-bottom: 2rem;
  }
  .usi-icon-right-nav{
    position: relative;
    input{

    }

  &:after{
      font-family: FontAwesome;
      content: '\f078';
      display: inline-block;
      position:absolute;
      right: 30%;
      z-index: 100;
      color: white;
  }
}
  .usi-icon-left-nav{
    position: relative;
    

    input{

    }

  &:before{
      font-family: FontAwesome;
      display: inline-block;
      position: absolute;
      left: 1%;
      margin-top: 1%;
      z-index: 100;
  }
  #usi-sales{
    position: relative;
    input{

    }
    &:before{
      font-family: FontAwesome;
      content: '\f095';
      display: inline-block;
      position: absolute;
      left: 1%;
      margin-top: 1%;
      z-index: 100;
    }
  }

}
#usi-phone{
  input{

  }
  &:before{
    font-family: FontAwesome;
    content: '\f095';
    /*padding-left: 5px;*/
  }
  
}
#usi-sales-two{
  width: 10%;

      input{

      }

      &:before{
      
        font-family: FontAwesome;
        content: '\f0ac';
        padding-right: 10px;
      
    }

=======
>>>>>>> changed
  }

#usi-bell{
  width: 10%;
  input{

  }
  &:before{
      font-family: FontAwesome;
      font-size: 18px;
      content: '\f0a2';
  }
}

#usi-user{
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
  width: 15%;
=======
  width: 17%;
>>>>>>> changed
  position: absolute;
  right: 2%;


  input{

  }
  &:before{
      font-family: FontAwesome;
      content: '\f2be';
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      font-size: 18px;
      
  }
  p{
    
    padding:0 10px;
=======
      font-size: 30px;
      
  }
  &:after{
    padding-left: 15px;
  }
  p{
    
    padding:0 19px;
>>>>>>> changed
  }
}
.usi-icon-left-nav , .usi-icon-right-nav{
  margin: 0;
  
  input{

  }
  p{
    margin: 0 auto;
    padding: 0 3%;
    display: inline-block;
  }
  &:before{
    font-size: 18px;
  }
  &:after{
    font-size: 11px;
  }
}
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d




=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
>>>>>>> bf242cf3e7c3b80c8d14b830b6172408552e6b9a
=======
#usi-download-button{
  position: absolute;
  right: 5%;
}
#usi-secondary-focus{
  margin-right: 6%;
}
.push{
  margin-top: 1%;
  /*margin: 0 auto;*/
  margin-right: auto;
}
.form_horizontal_set{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usi-form-group {
  position: relative;
  margin-bottom: 1rem;

  label, input[type="text"] {
    display: block;
  }
}

//struggles at :changed//
  .td-highlight-change {
     background-color: blue;
     border: none;
      input{
        
      }
   
  

  }
  .usi-check-lighter-new {
   padding: 2px;
   left: 12px;
   /*background-color: gray;*/

   input{

   }
   


  }

#td-highlight-change {
  input{

  }
  .bleeder{
    border: blue;
  }
}
#td-highlight-change .bleeder{
  border: 2px solid red;
}
.tooltip-sample{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;

}
.usi-tool-icon-case {
  width: 50%;
  margin:0 auto;
  display: flex;
  flex-direction:column;

}
#yo-yo {
  /*height: 37px;
  width: 37px;*/
  font-family: FontAwesome;
  display: flex;
  margin: auto;
  width: 100%;
  border-radius: 25px;
  position: relative;
  input{

  }

  &::before {
      font-family: FontAwesome;
      font-size: 24pt;
      content: '\f05a';
      color:  gray;
      display: flex;
      border-radius: 80px;
      margin: auto;
      z-index: 10;
    }
}
#usi-tooltip {
  visibility: hidden;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: $darker-gray;
  width: 160px;
  /*position*/
  position: absolute;
  z-index: 20;
  top: 130%;
  left: 32%;
  padding: 16px;
  border-radius: 5px;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);


  input{

  }
  

  
}
#yo-yo:hover #usi-tooltip {
    visibility: visible;
  }
  #usi-tooltip:before {
    content: "";
    color: white;
    position: absolute;
    bottom: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent ;
    /*box-shadow: 3px 3px 3px 3px #888888;*/


  }
>>>>>>> changed
