@import 'reset';
@import 'variables';
@import 'font-awesome-4.7.0/scss/font-awesome';
@import 'brand';
@import 'colorpicker';




// Style guide layout
.container {
    width: 1366px;
    margin: 0 auto;
    display: flex;
}

header.sg-layout {
  background-color: $darker-gray;
  color: $white;
  height: 105px;
  line-height: 105px;
  margin-bottom: 40px;
  display: flex;

  .container {
    align-items: center;

    & > * {
      margin-right: 2rem;
    }
  }

  h1 {
    margin: 0;
    border-bottom: none;
  }

  .fa {
    float: right;
  }

}

h3{
    border-bottom: none;
    margin-bottom: 0;
  }

h4{
    border-bottom: none;
    margin-bottom: 0;
  }



nav.sg-layout {
  width: 275px;


  ul {
    list-style-type: none;

    li {
      padding: 10px 0;

      &:first-of-type {
        padding-top: 0;
      }

      a {
        color: inherit;
        text-decoration: none;

        &.active {
          font-weight: 600;
        }
      }
    }
  }
}

main.usi-brand {
  section {
    margin-bottom: 2rem;
  }

  width: calc(100% - 275px);
}

.palette-group {
  @extend .clearfix;
  display: flex;
  margin-bottom: 3%;
}


.palette-example {
  float: left;
  width: 200px;
  height: 150px;
  border: 1px solid $mid-gray;
  margin-right: 20px;
  position:relative;

  &.dark-purple {
    background-color: $dark-purple;
  }
  &.mid-purple {
    background-color: $mid-purple;
  }
  &.light-purple {
    background-color: $light-purple;
  }
  &.accent-purple {
    background-color: $accent-purple;
  }
  &.primary-blue{
    background-color: $primary-blue;
  }
  &.mid-gray_2{
    background-color: $mid-gray2;
  }
  &.light-gray{
    background-color: $light-gray;
  }
  &.dark-blue{
    background-color: $dark-blue;
  }
  &.light-blue{
    background-color: $light-blue;
  }
  &.blue-muted-1{
    background-color: $blue-muted-1;
  }
  &.blue-muted-2{
    background-color: $blue-muted-2;
  }
  &.blue-muted-3{
    background-color: $blue-muted-3;
  }
  &.darkest-gray{
    background-color: $darkest-gray;
  }
  &.darker-gray{
    background-color: $darker-gray;
  }
  &.dark-gray{
    background-color: $dark-gray;
  }
  &.white{
    background-color: $white;
  }
  &.lightest-gray{
    background-color: $lightest-gray;
  }
  &.light-gray{
    background-color: $light-gray;
  }
  &.dark-purple{
    background-color: $dark-purple;
  }
  &.mid-purple{
    background-color: $mid-purple;
  }
  &.light-purple{
    background-color: $light-purple;
  }
  &.accent-purple{
    background-color: $accent-purple;
  }
  &.dark-orange{
    background-color: $dark-orange;
  }
  &.mid-orange{
    background-color: $mid-orange;
  }
  &.light-orange{
    background-color: $light-orange;
  }
  &.accent-orange{
    background-color: $accent-orange;
  }
  &.dark-green{
    background-color: $dark-green;
  }
  &.mid-green{
    background-color: $mid-green;
  }
  &.light-green{
    background-color: $light-green;
  }
  &.accent-green{
    background-color: $accent-green;
  }
  &.dark-red{
    background-color: $dark-red;
  }
  &.mid-red{
    background-color: $mid-red;
  }
  &.light-red{
    background-color: $light-red;
  }
  &.accent-red{
    background-color: $accent-red;
  }

}

.contrasting-bg {
  background-color: $dark-blue;
  padding: 30px;
  margin-bottom: 1rem;
}

.code-container {
  & > label {
    display: block;
    background-color: $dark-gray;
    color: $white;
    line-height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $mid-gray2;
      font-weight: bold;
      transition: all 0.1s ease-in-out;
    }
  }

  .usi-accordion-toggle {
    display: none;

    &:checked + .snippit {
      height: auto;
      padding: 1rem;
      transition: all 0.1s ease-in-out;
    }
  }

  code.snippit {
    padding: 0;
    background-color: $darker-gray;
    color: $white;
    display: block;
    margin-bottom: 1rem;
    height: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
  }
}




.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*Ryan's Additions*/

.holder_measure{
  width: 100%;
  background-color:yellow;
  height: 20%;
  margin-bottom: 3%;
}
.button_icon_shelf{
  margin-top: 3%;

}
#dis_link_header{
  color: #B6B6B6;
}
#measurement_link{
  width: 30%;
}

.des_text{
  margin: 1% 0 3% 0;
}
.button_grp{
  /*background-color: purple;*/
  margin-bottom: 3.5%;
}
.usi-palette-text{
  width: 100%;
  height: 30%;
  background-color: white;
  position:absolute;
  bottom: 0;
  border-top: .5px solid $mid-gray;
}
.color_head{
   display: block;
   margin: 7%;

}

