{{#> layout }}

{{#*inline "content-block"}}

  <section class="buttons">
    <h2>Buttons</h2>

    <h3>Primary Button</h3>
    <button class="usi-button small">Primary Button</button>
    <button class="usi-button">Primary Button</button>
    <button class="usi-button large">Primary Button</button>

    <div class="code-container">
      <label for="button-snippit-1">Show sample source</label>
      <input type="checkbox" class="usi-accordion-toggle" id="button-snippit-1" />
      <code class="snippit">
        &lt;button class="usi-button small"&gt;Primary Button&lt;/button&gt;
      </code>
    </div>

    <h4>Primary Disabled State</h4>
    <button class="usi-button small" disabled="disabled">Primary Button</button>
    <button class="usi-button" disabled="disabled">Primary Button</button>
    <button class="usi-button large" disabled="disabled">Primary Button</button>

    <h3>Secondary Button</h3>
    <button class="usi-button secondary small">Secondary Button</button>
    <button class="usi-button secondary">Secondary Button</button>
    <button class="usi-button secondary large">Secondary Button</button>

    <h4>Secondary Disabled State</h4>
    <button class="usi-button secondary small" disabled="disabled">Secondary Button</button>
    <button class="usi-button secondary" disabled="disabled">Secondary Button</button>
    <button class="usi-button secondary large" disabled="disabled">Secondary Button</button>

    <h3>White Buttons</h3>
    <div class="contrasting-bg">
      <button class="usi-button small">Primary Button</button>
      <button class="usi-button">Primary Button</button>
      <button class="usi-button large">Primary Button</button>

      <button class="usi-button secondary small">Secondary Button</button>
      <button class="usi-button secondary">Secondary Button</button>
      <button class="usi-button secondary large">Secondary Button</button>
    </div>

    <h3>Transparent Buttons</h3>

    <h3>Buttons With Icons</h3>
    <button class="usi-button small icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
    <button class="usi-button icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
    <button class="usi-button large icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>

    <button class="usi-button secondary small icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
    <button class="usi-button secondary icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
    <button class="usi-button secondary large icon left"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>

    <div>
      <button class="usi-button small icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
      <button class="usi-button icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
      <button class="usi-button large icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>

      <button class="usi-button secondary small icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
      <button class="usi-button secondary icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
      <button class="usi-button secondary large icon right"><i class="fa fa-shopping-cart"></i><span>Primary Button</span></button>
    </div>
  </section>

{{/inline}}

{{/ layout}}
