{{#> layout }}

{{#*inline "content-block"}}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="forms">
  <h2>Form Elements</h2>

  <h3>Input Fields</h3>

  <div class="form_horizontal_set" id="top_set">

      <div class="usi-form-group text push">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="text" class="text-input" placeholder="Form Field input"/>
      </div>

      <div class="usi-form-group text push">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="text" class="text-input" placeholder="Form Field input"/>
      </div>

      <div class="usi-form-group text active push">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="text" class="text-input" placeholder="Active Form file /"/>
      </div>

      <div class="usi-form-group text push">
        <input type="text" disabled="disabled" placeholder="Disabled Form Field"/>
      </div>

  </div>

  <div class="form_horizontal_set" id="bottom_set">

      <div class="usi-form-group text push required">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="text" class="text-input" placeholder="Form Field input *"/>
      </div>

      <div class="usi-form-group text push user_head usi-icon-left">
        <!-- <label class="text-label">Form Field Label</label> -->

        <input type="text" class="user text-input" placeholder=" Form Field input" ></input>
       

        
      </div>

      <div class="usi-form-group text push user_head usi-icon-left">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="numeric" class="text-input" placeholder="$1000.00"/>
      </div>

      <div class="usi-form-group text push usi-icon-right">
        <input type="percentage" placeholder="100%"><div></div>
      </input>
      </div>

  </div>

  <div class="usi-form-group text">
    <textarea> text area </textarea>
  </div>

  <h3>Validation Fields</h3>
  <div class="usi-form-group text input-warning">
    <input type="text" class="text-input" />
    <div><p class="notify_field">CAPS lock is on!</p></div>
  </div>

  <div class="usi-form-group text input-error">
    <input type="text" class="text-input" />
    <div><p class="notify_field">Successful!</p></div>
  </div>

  <div class="usi-form-group text input-success">
    <input type="text" class="text-input" />
    <div><p class="notify_field">Successful!</p></div>
  </div>

  <h3>Selection</h3>

  <select>
    <option>Dropdown Field</option>
    <option>Select One</option>
    <option>Select Two</option>
    <option>Select Three</option>
  </select>

  

  <!-- below is check boxes being split across page -->

  <div class="split_groups">

      <div class="check_split_child" id="first_check">

          <div class="usi-form-group check">
              <input type="checkbox" id="check-sample-1" />
              <label for="check-sample-1"><i class="fa fa-check"></i></label>
              <label for="check-sample-1">Checkbox Item</label>
          </div>

          <div class="usi-form-group check">
              <input type="checkbox" id="check-sample-1" />
              <label for="check-sample-1"><i class="fa fa-check"></i></label>
              <label for="check-sample-1">Checkbox Item</label>
          </div>

      </div>

      <div class="check_split_child" id="second_check">

          <div class="usi-form-group check highlight">
            <input type="checkbox" name="check-sample-highlight" id="check-sample-hl-1" />
            <label for="check-sample-hl-1"><i class="fa fa-check"></i></label>
            <label for="check-sample-hl-1">Checkbox Item</label>
          </div>
          <div class="usi-form-group check highlight">
            <input type="checkbox" name="check-sample-highlight" id="check-sample-hl-2" />
            <label for="check-sample-hl-2"><i class="fa fa-check"></i></label>
            <label for="check-sample-hl-2">Checkbox Item</label>

          </div>

      </div>

  </div>

  <div class="split_groups">


    <div class="radio_split_child" id="first_radio">

        <div class="usi-form-group radio">
          <input type="radio" name="radio-sample" id="radio-sample-1" />
          <label for="radio-sample-1"></label>
          <label for="radio-sample-1">Checkbox Item</label>
        </div>
        <div class="usi-form-group radio">
          <input type="radio" name="radio-sample" id="radio-sample-2" />
          <label for="radio-sample-2"></label>
          <label for="radio-sample-2">Checkbox Item</label>
        </div>

    </div>

      <div class="radio_split_child" id="second_radio">

          <div class="usi-form-group radio highlight bleeder">
            <input type="radio" name="radio-sample-highlight" id="radio-sample-hl-1" />
            <label for="radio-sample-hl-1"></label>
            <label for="radio-sample-hl-1">Yes</label>
          </div>
          <div class="usi-form-group radio highlight bleeder">
            <input type="radio" name="radio-sample-highlight" id="radio-sample-hl-2" />
            <label for="radio-sample-hl-2"></label>
            <label for="radio-sample-hl-2">No</label>
          </div>

      </div>

  </div>

  <h3>Toggle</h3>

  <div class="usi-horizontal-select">
    <input type="radio" name="horizontal-select-example" id="opt-1" />
    <label for="opt-1">Lions</label>

    <input type="radio" name="horizontal-select-example" id="opt-2" />
    <label for="opt-2">Tigers</label>

    <input type="radio" name="horizontal-select-example" id="opt-3" />
    <label for="opt-3">Bears</label>

    <input type="radio" name="horizontal-select-example" id="opt-4" />
    <label for="opt-4">Oh My</label>
  </div>

  <h3>Date and Time picker</h3>

    <div class="usi-form-group text push">
        <!-- <label class="text-label">MM/DD/YYYY</label> -->
        <input type="text" class="text-input" placeholder="MM/DD/YYYY" />
    </div>
    <div class="usi-form-group text push">
        <!-- <label class="text-label">Form Field Label</label> -->
        <input type="text" class="text-input" />
    </div>
  

</section>

{{/inline}}

{{/ layout}}
