{{#> layout }}

{{#*inline "content-block"}}


<section class="navigation">
  <h2>Navigation</h2>

  <header class="usi-header">
    <div class="usi-icon-right-nav">
      <p>Booth 1234</p>
    </div>

    <div class="usi-icon-left-nav" id="usi-phone">
      <p>Contact Salesperson</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-sales-two">
     <p>English</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-bell">
     <p>10</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-user">
      <p>Mike Englehart</p>
    </div>

	 </header>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======

	 <div class="usi-horizontal-select">
    <input type="radio" name="horizontal-select-example" id="opt-1" />
    <label for="opt-1">Lions</label>

    <input type="radio" name="horizontal-select-example" id="opt-2" />
    <label for="opt-2">Tigers</label>

    <input type="radio" name="horizontal-select-example" id="opt-3" />
    <label for="opt-3">Bears</label>

    <input type="radio" name="horizontal-select-example" id="opt-4" />
    <label for="opt-4">Oh My</label>
  </div>
>>>>>>> changed

</section>

{{/inline}}

{{/ layout}}
