{{#> layout }}

{{#*inline "content-block"}}


<section class="navigation">
  <h2>Navigation</h2>

  <header class="usi-header">
    <div>
      Booth 1234
    </div>

    <div>
      Contact Salesperson
    </div>
  </header>

</section>

{{/inline}}

{{/ layout}}
