{{#> layout }}

{{#*inline "content-block"}}


<section class="navigation">
  <h2>Navigation</h2>

  <header class="usi-header">
    <div class="usi-icon-right-nav">
      <p>Booth 1234</p>
    </div>

    <div class="usi-icon-left-nav" id="usi-phone">
      <p>Contact Salesperson</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-sales-two">
     <p>English</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-bell">
     <p>10</p>
    </div>

    <div class="usi-icon-left-nav usi-icon-right-nav" id="usi-user">
      <p>Mike Englehart</p>
    </div>

	 </header>

</section>

{{/inline}}

{{/ layout}}
