{{#> layout }}

{{#*inline "content-block"}}

<section class="notifications">
  <h2>Notifications</h2>

  <div class="usi-notification error">
    <div class="open"><i class="fa fa-exclamation-circle"></i></div>
    <span><b>ERROR:</b> This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <div class="usi-notification warning">
    <div class="open"><i class="fa fa-exclamation-triangle"></i></div>
    <span>ERROR: This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <div class="usi-notification info">
   <div class="open"><i class="fa fa-info-circle"></i></div>
    <span>ERROR: This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <h3>Tooltips</h3>

  <div class="tooltip-sample">
    
      <div class="usi-tool-icon-case">
        <!-- <p>oh hai</p> -->
        
        <div id="yo-yo">

          <span id="usi-tooltip">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </span>

        </div>
        

        

      </div>
  </div>

  <div class="modal-sample">

  </div>
</section>

{{/inline}}

{{/ layout}}
