{{#> layout }}

{{#*inline "content-block"}}

<section class="notifications">
  <h2>Notifications</h2>

  <div class="usi-notification error">
    <i class="fa fa-exclamation-circle"></i>
    <span><b>ERROR:</b> This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <div class="usi-notification warning">
    <i class="fa fa-exclamation-triangle"></i>
    <span>ERROR: This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <div class="usi-notification info">
    <i class="fa fa-info-circle"></i>
    <span>ERROR: This question is required. You must answer the survey question before moving on</span>
    <div class="close"><i class="fa fa-close"></i></div>
  </div>

  <div class="tooltip-sample">

  </div>

  <div class="modal-sample">

  </div>
</section>

{{/inline}}

{{/ layout}}
