<script>
var context = {
  "active": "palette"
}
</script>

{{#> layout }}

{{#*inline "content-block"}}

  <section class="palette">
    <div class="page_title_case"><h2 class="page_title">Color Palette</h2>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      <button class="usi-button secondary large"><p id="download_text">Download</p></button></div>
=======
      <button class="usi-button secondary large"id="usi-download-button"><p id="download_text">Download</p></button></div>
>>>>>>> changed
    <h3 class="usi-palette-sec">Primary Colors</h3>

    <div class="palette-group">
      <div class="palette-example primary-blue">
        <div class="usi-palette-text"><h5 class="color_head">#0067b1</h5></div>

      </div>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      <div class="palette-example mid-gray_2">
          <div class="usi-palette-text"><h5 class="color_head">#717073</h5></div>

      </div>
=======

      <div class="palette-example dark-blue">
        <div class="usi-palette-text"><h5 class="color_head">#00477a</h5></div>

      </div>
      
>>>>>>> changed
      <div class="palette-example light-gray">
          <div class="usi-palette-text"><h5 class="color_head">#D8D9DA</h5></div>

      </div>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======

      <div class="palette-example mid-gray_2">
          <div class="usi-palette-text"><h5 class="color_head">#717073</h5></div>

      </div>

      <div class="palette-example darkest-gray">
        <div class="usi-palette-text"><h5 class="color_head">#292829</h5></div>
      </div>
>>>>>>> changed
    
    </div>



<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
    

    <div class="palette-group">
      <div class="palette-example dark-blue">
        <div class="usi-palette-text"><h5 class="color_head">#D8D9DA</h5></div>

      </div>
      <div class="palette-example light-blue">
        <div class="usi-palette-text"><h5 class="color_head">#47B3FF</h5></div>

      </div>
=======
    <h3 class="usi-palette-sec">Background</h3>

    <div class="palette-group">

>>>>>>> changed
      <div class="palette-example blue-muted-1">
          <div class="usi-palette-text"><h5 class="color_head">#D6EEFF</h5></div>

      </div>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======

>>>>>>> changed
      <div class="palette-example blue-muted-2">
          <div class="usi-palette-text"><h5 class="color_head">#99C3E3</h5></div>

      </div>
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
=======

>>>>>>> changed
      <div class="palette-example blue-muted-3">
          <div class="usi-palette-text"><h5 class="color_head">#A0B2BE</h5></div>
      </div>

<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
    </div>

    <div class="palette-group">
      <div class="palette-example darkest-gray">
        <div class="usi-palette-text"><h5 class="color_head">#292829</h5></div>
      </div>
      <div class="palette-example darker-gray">
        <div class="usi-palette-text"><h5 class="color_head">#363636</h5></div>
      </div>
      <div class="palette-example dark-gray">
        <div class="usi-palette-text"><h5 class="color_head">#515152</h5></div>
      </div>
      

    </div>

    <div class="palette-group">
      <div class="palette-example light-gray">
        <div class="usi-palette-text"><h5 class="color_head">#acacac</h5></div>
      </div>
      <div class="palette-example lightest-gray">
        <div class="usi-palette-text"><h5 class="color_head">#f4f5f5</h5></div>
      </div>
      <div class="palette-example white">
        <div class="usi-palette-text"><h5 class="color_head">#fff</h5></div>
=======
      <div class="palette-example teal-green">
        <div class="usi-palette-text"><h5 class="color_head">#008eb0</h5></div>

      </div>
      
      
      

    </div>


    <div class="palette-group">

      <div class="palette-example lightest-gray">
        <div class="usi-palette-text"><h5 class="color_head">#f4f5f5</h5></div>
      </div>

      <div class="palette-example light-gray">
        <div class="usi-palette-text"><h5 class="color_head">#acacac</h5></div>
      </div>

      <div class="palette-example dark-gray">
        <div class="usi-palette-text"><h5 class="color_head">#515152</h5></div>
      </div>

      <div class="palette-example darker-gray">
        <div class="usi-palette-text"><h5 class="color_head">#363636</h5></div>
>>>>>>> changed
      </div>
      

    </div>

    <h3 class="usi-palette-sec">Secondary Colors</h3>

    <div class="palette-group">
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      <div class="palette-example dark-purple">
=======
      <div class="palette-example dark-purple" id="usi-secondary-focus">
>>>>>>> changed
        <div class="usi-palette-text"><h5 class="color_head">#5F2A57</h5></div>

      </div>
      <div class="palette-example mid-purple">
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
        <div class="usi-palette-text"><h5 class="color_head">#bb63ad</h5></div>

      </div>
      <div class="palette-example light-purple">
          <div class="usi-palette-text"><h5 class="color_head">#e0b8da</h5></div>

      </div>
      <div class="palette-example accent-purple">
          <div class="usi-palette-text"><h5 class="color_head">#f3e3f0</h5></div>

      </div>
=======
        <div class="usi-palette-text"><h5 class="color_head">#BB63AD</h5></div>

      </div>
      <div class="palette-example light-purple">
          <div class="usi-palette-text"><h5 class="color_head">#E0B8DA</h5></div>

      </div>
      <div class="palette-example accent-purple">
          <div class="usi-palette-text"><h5 class="color_head">#F3E3F0</h5></div>

      </div>
      

    </div>

    <div class="palette-group">
      <div class="palette-example dark-orange" id="usi-secondary-focus">
        <div class="usi-palette-text"><h5 class="color_head">#F37520</h5></div>

      </div>
      <div class="palette-example mid-orange">
        <div class="usi-palette-text"><h5 class="color_head">#F8AB77</h5></div>

      </div>
      <div class="palette-example light-orange">
          <div class="usi-palette-text"><h5 class="color_head">#FCDBC5</h5></div>

      </div>
      <div class="palette-example accent-orange">
          <div class="usi-palette-text"><h5 class="color_head">#FEF3EC</h5></div>

      </div>
>>>>>>> changed
      

    </div>

    <div class="palette-group">
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      <div class="palette-example dark-orange">
        <div class="usi-palette-text"><h5 class="color_head">#f37520</h5></div>

      </div>
      <div class="palette-example mid-orange">
        <div class="usi-palette-text"><h5 class="color_head">#f8ab77</h5></div>

      </div>
      <div class="palette-example light-orange">
          <div class="usi-palette-text"><h5 class="color_head">#fcdbc5</h5></div>

      </div>
      <div class="palette-example accent-orange">
          <div class="usi-palette-text"><h5 class="color_head">#fef3ec</h5></div>

      </div>
      

    </div>

    <div class="palette-group">
      <div class="palette-example dark-green">
        <div class="usi-palette-text"><h5 class="color_head">#f37520</h5></div>

      </div>
      <div class="palette-example mid-green">
        <div class="usi-palette-text"><h5 class="color_head">#f8ab77</h5></div>

      </div>
      <div class="palette-example light-green">
          <div class="usi-palette-text"><h5 class="color_head">#fcdbc5</h5></div>

      </div>
      <div class="palette-example accent-green">
          <div class="usi-palette-text"><h5 class="color_head">#fef3ec</h5></div>
=======
      <div class="palette-example dark-green" id="usi-secondary-focus">
        <div class="usi-palette-text"><h5 class="color_head">#F37520</h5></div>

      </div>
      <div class="palette-example mid-green">
        <div class="usi-palette-text"><h5 class="color_head">#F8AB77</h5></div>

      </div>
      <div class="palette-example light-green">
          <div class="usi-palette-text"><h5 class="color_head">#FCDBC5</h5></div>

      </div>
      <div class="palette-example accent-green">
          <div class="usi-palette-text"><h5 class="color_head">#FEF3EC</h5></div>
>>>>>>> changed

      </div>
      

    </div>

     <div class="palette-group">
<<<<<<< 1f7327e37e7f9d75ec9b8f6cd9880cc64c071c4d
      <div class="palette-example dark-red">
        <div class="usi-palette-text"><h5 class="color_head">#f37520</h5></div>

      </div>
      <div class="palette-example mid-red">
        <div class="usi-palette-text"><h5 class="color_head">#f8ab77</h5></div>

      </div>
      <div class="palette-example light-red">
          <div class="usi-palette-text"><h5 class="color_head">#fcdbc5</h5></div>

      </div>
      <div class="palette-example accent-red">
          <div class="usi-palette-text"><h5 class="color_head">#fef3ec</h5></div>
=======
      <div class="palette-example dark-red" id="usi-secondary-focus">
        <div class="usi-palette-text"><h5 class="color_head">#F37520</h5></div>

      </div>
      <div class="palette-example mid-red">
        <div class="usi-palette-text"><h5 class="color_head">#F8AB77</h5></div>

      </div>
      <div class="palette-example light-red">
          <div class="usi-palette-text"><h5 class="color_head">#FCDBC5</h5></div>

      </div>
      <div class="palette-example accent-red">
          <div class="usi-palette-text"><h5 class="color_head">#FEF3EC</h5></div>
>>>>>>> changed

      </div>
      

    </div>

    

    


  </section>

{{/inline}}

{{/ layout}}
