<script>
var context = {
  "active": "palette";
}
</script>

{{#> layout }}

{{#*inline "content-block"}}

  <section class="palette">
    <h2>Color Palette</h2>
    <h3>Primary</h3>

    <h3>Secondary</h3>

    <div class="palette-group">
      <div class="palette-example dark-purple">

      </div>
      <div class="palette-example mid-purple">

      </div>
      <div class="palette-example light-purple">

      </div>
      <div class="palette-example accent-purple">

      </div>
    </div>
  </section>

{{/inline}}

{{/ layout}}
