{{#> layout }}

{{#*inline "content-block"}}

<section class="tables">
  <h2>Tables</h2>

  <h3>Data Tables</h3>

  <table class="usi-table">
    <thead>
      <tr>
        <th></th>
        <th>Table Header</th>
        <th>Open Sans Semibold</th>
        <th>14 px</th>
        <th>All Caps</th>
        <th>#717073</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Hover color sample</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Selected color sample</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h3>Shopping Cart Table</h3>

</section>

{{/inline}}

{{/ layout}}
