{{#> layout }}

{{#*inline "content-block"}}

<section class="tables">
  <h2>Tables</h2>

  <h3>Data Tables</h3>

  <table class="usi-table">
    <thead>
      <tr>
        
        <th>Table Header</th>
        <th>Open Sans Semibold</th>
        <th>14 px</th>
        <th>All Caps</th>
        <th>#717073</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>

        <td>

           <div class="check">
              <input type="checkbox" id="check-sample-1" />
              <label for="check-sample-1"><i class="fa fa-check"></i></label>

              <p>Hover color #ECEDEE</p>

            </div>


          

        </td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        
        <td>

           <div id="td-highlight-change" class="check">
              
              <input type="checkbox" name="check-sample-highlight" id="check-sample-hl-1" />

              <label for="check-sample-hl-1" class="usi-check-lighter-new"><i class="fa fa-check"></i></label>
              
              
                <p id="td-highlight">Selected color #EBF7FF

                </p>
                <label></label>
              

            </div>


        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  <h3>Shopping Cart Table</h3>
    

  <table class="usi-table">

      
    <thead>

      <tr>
          
          <th>Item(s)</th>
          <th>Qty</th>
          <th>$ Amount</th>
      </tr>

    </thead>

    <tbody>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>


    </tbody>

  </table>

</section>

{{/inline}}

{{/ layout}}
