{{#> layout }}

{{#*inline "content-block"}}

<section class="typography">
  <h2>Typography</h2>

  <h3>Font</h3>
  <p>The official font used for Ungerboeck public facing applications is the Google Web Font Open Sans</p>

  <h2 class="font-light">Open Sans Light</h2>
  <h2 class="font-regular">Open Sans Regular</h2>
  <h2 class="font-semibold">Open Sans Semibold</h2>
  <h2 class="font-bold">Open Sans Bold</h2>

  <h3>Headings</h3>
  <h1>Heading 1 / Main Heading</h1>
  <h2>Heading 2 / Subpage Title</h2>
  <h3>Heading 3 / Section Header</h3>
  <h4>Heading 4 / Sub Section Heading</h4>
  <h5>Heading 5 / Bold Content within body</h5>

  <h3>Paragraph</h3>

  <div class="form_horizontal_set" id="usi-pargraph">
    
    <p class="footnote-left">Paragraph</p>
 

    <p class="footnote"> Open Sans Regular 14px, leading/line height: 22px</p>

   </div>

   <p id="usi-para-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


   </p>



  <div class="form_horizontal_set" id="usi-pargraph">
    
    <p class="footnote-left">Minimum Size</p>
 

    <p class="footnote">Open Sans Regular 12px, leading/line height: 18px</p>

   </div>

   <p id="usi-para-body-min">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</section>

{{/inline}}

{{/layout}}
