{{#> layout }}

{{#*inline "content-block"}}

<section class="typography">
  <h2>Typography</h2>

  <h3>Font</h3>
  <p>The official font used for Ungerboeck public facing applications is the Google Web Font Open Sans</p>

  <h2 class="font-light">Open Sans Light</h2>
  <h2 class="font-regular">Open Sans Regular</h2>
  <h2 class="font-semibold">Open Sans Semibold</h2>
  <h2 class="font-bold">Open Sans Bold</h2>

  <h3>Headings</h3>
  <h1>Heading 1 / Main Heading</h1>
  <h2>Heading 2 / Subpage Title</h2>
  <h3>Heading 3 / Section Header</h3>
  <h4>Heading 4 / Sub Section Heading</h4>
  <h5>Heading 5 / Bold Content within body</h5>

  <h3>Paragraph</h3>
  <p>Paragraph: Open Sans Regular 14px, leading/line height: 22px</p>

  <p class="footnote">Minimum Size: Open Sans Regular 12px, leading/line height: 18px</p>

</section>

{{/inline}}

{{/layout}}
