<header class="sg-layout">
  <div class="container">
    <div><img src="../img/ungerboeck_logo.png" /></div>
    <h1><span class="font-light">Public Facing</span> Design System</h1>
    <i class="fa fa-search"></i>
  </div>
</header>
