<!doctype html>
<html>

  <head>
    <title>USI Style Guide</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>

  <body>
    {{> heading }}

    <div class="container">
      {{> left-nav}}

      <main class="usi-brand">
        {{#> content-block}}
          <!-- replaced by content in pages folder -->
        {{/content-block}}
      </main>
    </div>
  </body>
</html>
