<nav class="sg-layout">
  <ul>
    <li>Design</li>
    <li><a href="palette.html" {{#if active.palette}}class="active"{{/if}}>Color Palette</a></li>
    <li><a href="typography.html">Typography</a></li>
    <li><a href="forms.html">Form Elements</a></li>
    <li><a href="buttons.html">Buttons</a></li>
    <li><a href="tables.html">Tables</a></li>
    <li><a href="navigation.html">Navigation</a></li>
    <li>Animation</li>
    <li>Icons</li>
    <li><a href="notifications.html">Notifications</a></li>
    <li>Other Components</li>
  </ul>
</nav>
